title: Kumar Atul | Performance Marketing Specialist
email: hello@kumaratul.com
description: Turn Traffic Into Qualified Leads & Scalable Systems.
baseurl: "/kumaratul"
url: "https://Atulscript.github.io"

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Sass settings
sass:
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
